body {
    font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Lantinghei SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif!important
}

.header-leave {
    -webkit-animation: 1s fadeOutUp;
    -moz-animation: 1s fadeOutUp;
    -o-animation: 1s fadeOutUp;
    animation: 1s fadeOutUp;
    z-index: 10;
}

.header-enter {
    -webkit-animation: 1s fadeInDown;
    -moz-animation: 1s fadeInDown;
    -o-animation: 1s fadeInDown;
    animation: 1s fadeInDown;
    z-index: 10;
}

.main-info-enter {
    -webkit-animation: 1s fadeIn;
    -moz-animation: 1s fadeIn;
    -o-animation: 1s fadeIn;
    animation: 1s fadeIn;
    z-index: 10;
}

.list-info-enter {
    -webkit-animation: 1s flipInX;
    -moz-animation: 1s flipInX;
    -o-animation: 1s flipInX;
    animation: 1s flipInX;
    z-index: 10;
}

.list-info-leave {
    -webkit-animation: 1s flipOutX;
    -moz-animation: 1s flipOutX;
    -o-animation: 1s flipOutX;
    animation: 1s flipOutX;
    z-index: 10;
}

.header {
    position: fixed !important;
    .logo {
        position: absolute;
        left: 60px;
        top: 7px;
        width: 50px !important;
        height: 50px !important;
    }
}

.page-content {
    padding-top: 64px;
}

.page-content-enter,
.waterfall-enter {
    -webkit-animation: 1s fadeIn;
    -moz-animation: 1s fadeIn;
    -o-animation: 1s fadeIn;
    animation: 1s fadeIn;
    z-index: 10;
}

.login-page {
    background-image: url("/img/login-bg.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

.loading-container {
    width: 40px;
    margin: 0 auto;
}

.index-page {
    .flexslider {
        height: 400px;
        margin-bottom: 120px;
        .flex-viewport {
            height: 500px;
            overflow: hidden;
        }
    }
    .waterfall {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
        padding-top: 50px;
        position: relative;
    }
    .main-info {
        hr {
            width: 940px;
            position: relative;
            top: -15px;
        }
        .title {
            font-size: 24px;
            font-weight: 900;
            position: absolute;
            top: 0;
            left: 10px;
            border-bottom: 4px solid rgb(0, 188, 212);
            line-height: 22px;
            padding: 5px;
            z-index: 1;
        }
    }
}

.detail-page {
    .item-info-box {
        position: relative;
        width: 960px;
        margin: 0 auto;
        overflow: hidden;
        margin-bottom: 30px;
        .new-order {
            position: absolute;
            bottom: 50px;
            right: 30px;
        }
        .divider,
        .divider-right {
            width: 50%;
            height: 480px;
            float: left;
        }
        .divider-right {
            padding: 20px 40px;
            box-sizing: border-box;
            .icon {
                width: 28px;
                height: 28px;
                padding: 2px;
            }
            >p {
                padding: 10px;
            }
            .name {
                font-size: 28px;
                font-weight: 900;
            }
            .price {
                font-size: 20px;
                color: #EF5350;
                font-weight: 600;
            }
            .hr {
                overflow: hidden;
                height: 16px;
                span {
                    font-size: 14px;
                    color: #999;
                    float: left;
                    padding-left: 10px;
                }
                hr {
                    float: left;
                    width: 200px;
                    position: relative;
                    bottom: 9px;
                }
            }
            .slider{
                position:relative;
                top:-20px;
            }
            .contact {
                padding: 10px;
                font-size: 20px;
                overflow: hidden;
                p {
                    float: left;
                    line-height: 24px;
                    margin-left: 10px;
                }
                .icon {
                    float: left;
                }
            }
        }
        .item-img {
            width: 480px;
            height: 480px;
            background-size: cover !important;
            background-position: center !important;
        }
        .item-desc {
            padding: 20px 40px;
        }
    }
    .text-field {
        padding: 0 30px;
    }
}

.publish-page {
    .publish-box {
        overflow: hidden;
        padding-bottom: 80px;
        position: relative;
        .body {
            .divide {
                width: 50%;
                float: left;
                padding: 20px;
                box-sizing: border-box;
                .select-field {
                    width: 100%;
                    padding-top: 20px;
                    .select {
                        width: 50% !important;
                    }
                }
            }
            .publish-btn {
                position: absolute;
                bottom: 20px;
                left: 50%;
                margin-left: -29px;
            }
        }
    }
}

.category-page {
    .page-body {
        position: relative;
    }
    hr {
        width: 940px;
        position: relative;
        top: 35px;
    }
    .title {
        font-size: 24px;
        font-weight: 900;
        position: absolute;
        top: 0;
        left: 10px;
        border-bottom: 4px solid rgb(0, 188, 212);
        line-height: 22px;
        padding: 5px;
        z-index: 1;
    }
    .waterfall {
        width: 960px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

.page-body {
    width: 960px;
    margin: 0 auto;
}

.user-avatar {
    margin-right: 0;
}

.waterfall-item {
    transition: all 1s;
    a {
        display: block;
        text-decoration: none;
    }
    img {
        height: 295px;
    }
}

.waterfall-item:hover {
    box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px !important;
}

.badge-custom span {
    width: 40px !important;
    height: 40px !important;
}

@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1469722488_1280608.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1469722488_1280608.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1469722488_1280608.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1469722488_1280608.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1469722488_1280608.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont{font-family:"iconfont";
font-size:16px;font-style:normal;}

